/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variables*/

:root {
    --navbar-bg: #fff;
    --insta-color: #a02c73;
    --shadow: 0px 0px 2px 0px #646464;
}


/*body*/

body {
    background-color: #fafafa;
}


/*css de base*/

.colone {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}


/*navbar*/

.navbar {
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-bg);
    /*border-bottom: solid #646464 1px;*/
    box-shadow: var(--shadow);
}

.centre_nav {
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.logo_instagram {
    width: 100px;
}

.nav_choix {
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.recherche {
    padding: 3px;
    margin-right: 112px;
}

.icones_liste {
    margin-left: 10px;
}

.icone_nav {
    width: 25px;
    margin-right: 13px;
}

.test {
    display: flex;
    width: 100%;
    justify-content: center;
}

.generale {
    width: 70%;
    padding-bottom: 30px;
    /*background-color: yellowgreen;*/
}


/*gauche*/

.gauche {
    width: 65%;
}


/*story*/

.les_story {
    margin-top: 30px;
    background-color: var(--navbar-bg);
    box-shadow: var(--shadow);
}

.story {
    margin: 17px 0 13px 10px;
}

.profil_story {
    width: 75px;
    padding-bottom: 70px;
    border-radius: 50%;
    background-color: var(--insta-color);
    margin-right: 15px;
    margin-bottom: 8px;
}


/*publication*/

.publication {
    margin-top: 32px;
    box-shadow: var(--shadow);
}


/*entete*/

.entete_publication {
    background-color: var(--navbar-bg);
    justify-content: space-between;
    align-items: center;
}

.profil_publication {
    align-items: center;
}

.profil_entete {
    border-radius: 50%;
    width: 40px;
    padding-bottom: 40px;
    background-color: var(--insta-color);
    margin: 6px 5px 6px 6px;
}

.etc {
    margin-right: 5px;
    font-size: 25px;
    margin-bottom: 9px;
}


/*corps publication*/

.photo_publication {
    padding-top: 510px;
    background-color: var(--insta-color);
}

.identification {
    width: 20px;
}


/*footer publication*/

.commentaire_publication {
    margin-left: 15px;
}

.reaction_publication {
    justify-content: space-between;
    margin-top: 15px;
    background-color: var(--navbar-bg);
    margin-left: 15px;
}

.icone_publication {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.vue {
    margin-bottom: 8px;
}

.heure {
    margin-top: 8px;
    margin-bottom: 8px;
}

.heure span {
    font-size: 12px;
}

.action_commentaire {
    justify-content: space-between;
    padding-bottom: 8px;
    box-shadow: var(--shadow);
}

.commentaire_gauche {
    margin: 10px 0 8px 10px;
    align-items: center;
}

.commentaire_gauche p {
    font-size: 15px;
}

.smile {
    width: 25px;
    margin-right: 8px;
}

.publier {
    border: none;
    background-color: transparent;
    margin-right: 15px;
}


/*droite*/

.droite {
    width: 30%;
    background-color: violet;
    margin-left: 27px;
    margin-top: 30px;
}


/*media*/

@media screen and (max-width: 823px) {
    .centre_nav {
        justify-content: space-between;
        width: 82%;
    }
    .recherche {
        display: none;
    }
    .generale {
        width: 100%
    }
    .gauche {
        width: 100%;
        justify-content: center;
    }
    .les_story {
        width: 99%;
    }
    .publication {
        width: 100%;
    }
    .droite {
        display: none;
    }
}